/*自定义css*/
p{
    font-size: 32px;
    font-family: "kaiti",fantasy;
}

a{
    font-size: 32px;
    target: "iframe_dumu";
}

a:link{color: rgba(0, 0, 255, 0.3)}
a:visited{color: rgba(0, 0, 255, 0.3)}
a:hover{color: blue}
a:active{color: black}

.poem_name{
    font-size: 34px;
    font-family: "Comic Sans MS",fantasy;
    color: red;
}

.poem_content{
    font-size: 32px;
    font-family: 楷体,fantasy;
    color: blue;
}
